# Dependencias
/node_modules/
/.astro/
/.vercel/

# Archivos de entorno
.env
.env.*
!.env.example
*.key.json
*-firebase-adminsdk-*.json
/service-account.json

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de producción
/dist/
/build/
/.svelte-kit/

# Archivos de depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variables de entorno de Astro
astro.dist/

# Firebase
.firebase/
.firebaserc

# Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de caché
.cache/
.temp/
.tmp/